.Recipe-page {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
  margin-top: 5rem;
}
.Recipe-Image-box {
  display: flex;
  justify-content: center;
  align-self: flex-start;
  width: 50%;
  position: relative;
}

.Recipe-Image-box .fav-window {
  display: none;
  position: absolute;
  top: 0;
  right: 45px;
  font-size: 1.2rem;
  height: 40px;
  width: 200px;
  margin: 10px;
  border-radius: 20px;
  overflow: hidden;
}

.Recipe-Image-box .fav-button-text {
  background-color: white;
  box-shadow: 5px 10px 2px 5px black;
  font-size: 1.2rem;
  height: 40px;
  width: 200px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(200px, 0);
}

.recipe-img {
  display: flex;
  max-width: 90%;
  min-height: 90%;
  justify-content: center;
  align-items: center;
  border-radius: 35%;
}

.Ingredients-box {
  flex: 0 65ch;
  padding: 1.5rem;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.Ingredients-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

#name {
  align-items: center;
  justify-content: center;
  display: flex;
}

.recipe-tag {
  justify-content: center;
  display: inline-block;
  margin: 8px;
  font-size: 0.875em;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.02em;
}
.Recipe-name {
  margin-top: 2rem;
}

.recipe-tags {
  display: flex;
  justify-content: center;
}

.meal-image {
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 50%;
}
#meal-image {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: aliceblue;
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
}
.meal-name {
  background-color: white;
  justify-content: center;
}
#category {
  justify-content: center;
}

.meal-video {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  /* margin: 3rem 0 0 1rem; */
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
}

.suggested {
  display: grid;
  grid-template-columns: minmax();
  padding: 2rem;
  margin: 5rem 2rem;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
}

.vid {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 1.5rem;
  padding: 1rem;
}

.menu-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.menu-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  padding-top: 2rem;
}
.name-category {
  display: flex;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  align-content: center;
  align-items: center;
  align-self: center;
}

.similar-meal {
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.instructions {
  white-space: pre-wrap;
}

@media only screen and (min-width: 800px) {
  .Recipe-Image-box {
    width: 30%;
  }
}

.meal-video iframe {
  width: 330px;
  height: 200px;
}

@media only screen and (min-width: 768px) {
  .meal-video iframe {
    width: 530px;
    height: 360px;
  }
}
