.card {
  display: inline-flex;
  width: 200px;
  height: 100px;
  background-color: cornsilk;
  border: 1px solid black;
  margin: 5px;
}

.card > img {
  width: 100px;
  height: 100px;
}

.trial {
  white-space: pre-wrap;
}
