.Recipe-page {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
  margin-top: 5rem;
}
.Recipe-Image-box {
  display: flex;
  justify-content: center;
  align-self: flex-start;
  width: 50%;
}
.recipe-img {
  display: flex;
  max-width: 100%;
  min-height: 100%;
  justify-content: center;
  align-items: center;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
}
/* 
.recipe-box {
  background-color: rgb(155, 155, 224);
} */

.Ingredients-box {
  flex: 0 65ch;
  padding: 1.5rem;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.Ingredients-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

#name {
  align-items: center;
  justify-content: center;
  display: flex;
}

.recipe-tag {
  justify-content: center;
  display: inline-block;
  margin: 8px;
  font-size: 0.875em;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.02em;
}
.Recipe-name {
  margin-top: 2rem;
}

.recipe-tags {
  display: flex;
  justify-content: center;
}

.meal-image {
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 50%;
}
#meal-image {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: aliceblue;
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
}
.meal-name {
  background-color: white;
  justify-content: center;
}
#category {
  justify-content: center;
}

.meal-video {
  display: flex;
  flex-direction: column;
  margin: 3rem 0 0 1rem;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
}

.suggested {
  display: grid;
  grid-template-columns: minmax();
  padding: 2rem;
  margin: 5rem 2rem;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
}

.vid {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 1.5rem;
  padding: 1rem;
}

.suggested-video {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

/* @media only screen and (max-width: 1600px) {
  .Ingredients-box {
    flex: 4 1 40ch;
  }
} */
