.header {
  display: block;
  text-align: center;
  font-size: 30px;
  margin: 10px 0;
}

.nav {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  height: 80px;
  margin-top: 0;
}

.nav > li {
  color: white;
}

.nav > li:hover {
  color: turquoise;
}

a {
  text-decoration: none;
  color: inherit;
}

/* ----------------------- */

.fav-page {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.fav-count-text {
  /* padding-bottom: 500px; */
  display: flex;
  margin-top: 20px;
}

.productContainer,
.productSingle {
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 50px;
}

.productSingle {
  width: 300px;
}

.products {
  width: 25%;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.productDesc {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.add {
  height: 50px;
  margin: 0;
}

.remove {
  color: white;
  height: 50px;
  margin: 0;
}
